<app-navbar></app-navbar>
<a>a</a>
<p>a</p>
<div class="container" >
  <div style="display:flex;justify-items:center">
  <div>
    <div style="font-size: 45px; margin-top: 131px;margin-bottom:8px; font-weight: 500; color: green;">The #1 software</div>
    <div style="font-size: 45px;  font-weight: 500; color: green;margin-bottom:8px; ">for Stock Seeker</div>
    <div style="font-size: 45px; font-weight: 500; color: green;">Go, Try it Now</div>
    <button class="cancelbutton">Start Now</button>
  </div>
  <div>
    <img src="/assets/stockimage.jpg" style="height: 600px; padding-left: 114px; padding-top: 40px;width: 1000px;" />
  </div>
</div>
  </div>

