
.navbar-brand {
    border-radius: 3px; 
    height:40px;
  }
  .navbar-brand{
      padding:6px 3px;
  }
  .cancelbutton {
    color: white;
    border: green;
    border-radius: 4px;
    height: 35px;
    background-color: green;
    color: white;
    border-radius: 4px;
    width: 70px;
    text-align: center;
  }

  .login{
    font-size: 39px;
    color: #344563;
    margin-top: -22px;
    margin-right: 22px;
    font-weight: 600;
    color: green;
  }
 



  
  