.container {
    padding: 0;
    /* Adjust padding top to create space above the layout */
}

/* Apply styles to the table row */
/* Apply styles to each cell */


table {
    border-collapse: collapse;
    width: 70%;
    margin-top: -40px;
    margin-left: -31px;
}

input[type=search] {
    outline: none;
    border-color: gainsboro;
}

input[type=search]:focus {
    border-color: gainsboro;
    box-shadow: 0 0 1px 0 gainsboro;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid gainsboro;
    color: #42526e;
}

/* Apply hover effect to clickable row */
.clickable-row:hover {
    background-color: rgb(248, 248, 248);
    /* Adjust color as needed */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 4px solid #ddd;
    color: #42526e;
}

.decfont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.project-cell:hover a {
    display: inline;
    /* Show the anchor tag on hover */
}

.cancelbutton {
    color: white;
    border: blue;
    border-radius: 4px;
    height: 35px;
    width: 110px;
    background-color: #0052CC;
    color: white;
    border-radius: 4px;
    margin-left: 248px;
}



.text-green {
    color: #1db954
}

.text-red {
    color: #f45b5b
}

.tick {
    min-width: 180px;
    border-right: 1px solid #363636;
    padding: 0 1rem;
    white-space: nowrap
}

.subtitle.is-6 {
    font-size: .9rem;
    color: #ffffff
}

.subtitle {
    color: #6b6b6b;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25
}

.columns .column {
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem
}

.columns.is-mobile {
    display: flex
}

.columns {
    background: gray;
    margin-top: .75rem;
    margin-bottom: .75rem
}

.price {
    color: #ffffff;
    position: relative
}



.tick {
    min-width: 220px;
    border-right: 1px solid #363636;
    padding: 0 1rem;
    white-space: nowrap
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1
}

.is-pulled-right {
    float: right !important
}

.icon {
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem
}